*{
    font-family: sans-serif;
    font-weight: bold;
}
.title{
    text-align: center;
    margin-top: 30px;
    color: black;
    font-variant: small-caps;
    margin-bottom: 30px;
}
div{
    box-sizing: border-box;
    background-color:rgb(3, 236, 139) ;
    border: 3px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
}
h4{
    background-color: cyan;
    color: purple;
    border: 3px solid black;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px 0px 0px 20px;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
    width: 30%;
    padding: 10px;
    float:right;
}
main{
    display:inline-block;
    text-align: center;
}
p{
    padding-top: 20px;
    margin: 20px;
    clear: right;
}

@media(max-width: 767px){
    div{
        width: 80%;
    }
}
@media(max-width:991px) and (min-width: 768px){

    div{
        width: 45%;
        display:inline-block
    }
    #third{
        width: 90%;
    }
}
@media(min-width: 992px){
    div{
        display: inline-block;
        width: 30%
        
    }
}
